# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Jupyter Notebook
.ipynb_checkpoints

# Python
__pycache__/
*.py[cod]
*.class

# Virtual environment
venv/
env/
.env

# IDE settings
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp
